/*Övergripande CSS för hela sidan*/
*{
  margin: 0;
  padding: 0;
}
body {
  background-color: whitesmoke;
  line-height: 1.4;
  box-sizing: border-box;
  font-family: "Roboto", "Open-sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.btn-sm, .btn{
  border-radius: 0 !important;
}
p{
  padding: 0;
  margin: 0;
}
h1,h2,h3,h4,h5,h6{
  font-family: "Open-sans", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}
.mt-10{
  margin-top: 10em;
}
.non-link{
  color:black;
}
.non-link a:hover{
  text-decoration: none;
  color: #146ED0;
}
#auction-card.card:hover h6{
  color: #146ED0;
  text-decoration: underline;
}
#auction-card h6:hover{
  color: #146ED0;
  text-decoration: underline;
}
.container {
  background-color: wheat;
  min-height: 100vh;
  font-size: calc(6px + 1vmin);
  color: black;
  max-width: 90%;
}
.container-fluid{
  padding: 0;
}
.btn-sm{
  transition: all .2s ease-in;
}
/* NAVBAR */
.navbar{
  padding: 0 10px 0 10px;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.nav-custom{
  background: rgb(88, 74, 72);
}
.navbar-brand{
 color: white;
}
.navbar-brand:hover{
  color: white;
}
.nav-link{
  color: white;
  padding: 15px;
  transition: all .2s ease-in;
}
.nav-link:hover{
  background: #E74C3C;
  color: white;
  padding: 15px;
}
.btn-custom{
  background: #2980B9;
  border: 0;
  padding: 5px 10px;
  color: #fff;
  border: 1px solid #3498DB;
  transition: all .3s ease-in;
}
.btn-custom:hover{
  background: #3498DB;
}
.navbarText{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*END NAVBAR*/


/*HOME*/
.card{
  min-height: 200px;
}
.cardSizing{
  padding: 4px;
}
.card-body{
  padding: 20px;
}
/*END HOME*/

.brand-div a{
  position: relative;
  z-index: 1;
}
.img-div img{
  max-width: 47px;
  z-index: -1;
  opacity: 0.7;
}
.img-div{
  position: absolute;
  top: 2px;
  left: 25px;
}
@media only screen and (max-width: 600px) {
  .img-div img{
    display: none;
  }
}


/*CREATE AUCTION*/
.createAuctionForm{
  background-color: #F9EFDA;
  box-shadow: 7px 12px 10px #888888;
}
.createAuctionContainer small{
  color: red;
  font-weight: bold;
}
/*END CREATE AUCTION*/


/*Detaljer*/
#dateDetailView{
  padding-left: 450px;
}

#noAuctionsText{
  color: palevioletred;
  margin-left: 20px;
}

#noAuctionsText h3{
  margin-top: 20px;
}

.errorMessage{
  color: red;
  font-weight: bold;
}

.error{
  border: 1px solid red;
  background-color: rgb(253, 232, 199);
}

#endText p{
  margin-top: 10px;
  margin-bottom: 10px;
}

#searchForm input, #loginForm input{
  margin-right: 10px;
}


@media only screen and (max-width: 768px) {
  #searchForm, #loginForm{
    margin-top: 10px;
  }
  .container{
    min-width: 100%;
  }
  #searchForm input, #loginForm input{
    width: 100%;
  }
  #searchForm button, #loginForm button, #signout button{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .navbar-text{
    margin-top: 8px;
  }
  .createAuctionForm{
    box-shadow: none;
  }
}